extends layout

append head
  script(src='/javascripts/view.js')
  script
    window.onload = initialize;

append content
  .hero-unit
    h2 upload new ride
    form(action='/upload', enctype='multipart/form-data', method='post')
      input(type='file', name='upload', multiple='multiple')
      input(type='submit')
