extends layout

append head
  script(src='/javascripts/view.js')

append content
  .hero-unit
    h1 Welcome to NodeRide
    p This is a fun little project by Julian Simioni. Upload or view some .TCX files on the left to get started
