extends layout

append head
  script(src='/javascripts/view.js')

append content
  .hero-unit
    h2 upload new ride
    form(enctype='multipart/form-data')
      input(type='file', name='upload')
      input(type='button', value='Upload')
