!!! 5
html
  block head
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='http://code.jquery.com/jquery-latest.js')
      script(src='/javascripts/jquery.flot.js')
      script(src='/javascripts/noderide.js')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href='/') NodeRide
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
             block sidebar
               ul.nav.nav-list#rideList
                 li.nav-header existing rides
               ul.nav.nav-list
                 li.nav-header
                   a#uploadLink upload new ride
                   form(enctype='multipart/form-data', style='display:none')
                     input(type='file', name='upload')

        .span9
          block content
      hr
      footer
        .container By Julian Simioni
          ul.footer_nav
            li
              a(href='https://github.com/orangejulius/nodeRide') Github
