script(type='text/javascript',src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeqI73a3DM_E8eNUsWWR9tmFw2BmPLTjo&sensor=false")
script(src='/javascripts/view.js')
script
  var data = !{JSON.stringify(data)};
body(onload='initialize()')
h1 Ride #{id}
div(id="map_canvas",style="width:800px; height:600px")

