extends layout

append head
  script(type='text/javascript',src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeqI73a3DM_E8eNUsWWR9tmFw2BmPLTjo&sensor=false")
  script(src='/javascripts/view.js')
  script
    window.onload = initialize;

append content
  .hero-unit
    h2 Ride #{id}
    div(id="map_canvas",style="width:100%; height:600px")

