extends layout

append head
  script(type='text/javascript',src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeqI73a3DM_E8eNUsWWR9tmFw2BmPLTjo&sensor=false")
  script(src='/javascripts/view.js')

append content
  .hero-unit
    h2#ride-name.map-header Ride #{id}
    div(id="map_canvas")
  .row-fluid
    .span12
      div(id="plot")

