body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map_canvas {
	width: 100%;
	height: 400px;
}

#plot {
	width: 100%;
	height: 200px;
}

.map-header {
	margin-top: -20px;
}

ul.footer_nav {
	float: right
}

ul.footer_nav li {
	display: inline-block;
}
